.place__title {
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    grid-area: title;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 340px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
}