.photo-grid {
    max-width: 1184px;
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1200px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 980px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 750px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 1fr;
        gap: 12px;
        margin: 64px auto 0;
    }
}