.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 28px 48px 0;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 0 0;
        max-width: 928px;
    }
}

@media screen and (max-width: 980px) {
    .header {
        padding: 28px 0 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 750px) {
    .header {
        padding: 16px 0 0;
        max-width: calc(100vw - 10%);
    }
}

@media screen and (max-width: 360px) {
    .header {
        padding: 16px 0 0;
        max-width: 288px;
    }
}