.place__paragraph {
    /* max-width: 484px; */
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 0;
    word-break: break-word;
}

.place__paragraph+.place__paragraph {
    margin-top: 27px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .place__paragraph+.place__paragraph {
        margin-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: 0 16px;
    }
}