.lead__image {
    display: block;
    max-width: 984px;
    margin: 0 auto;
    object-fit: fill;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
    }
}

@media screen and (max-width: 980px) {
    .lead__image {
        max-width: calc(100vw - 180px);
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 100%;
        margin: 0;
    }
}