.intro {
    margin: 92px auto 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 980px) {
    .intro {
        max-width: 728px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 750px) {
    .intro {
        max-width: calc(100vw - 30px);
        margin: 64px auto 0;
    }
}