.cover {
    max-width: 1184px;
    height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 92px auto 0;
    position: relative;
    z-index: 1;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        height: 200px;
    }
}