.lead__caption {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 23px;
    }
}