.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas:
        "title website"
        "image text";
    gap: 48px 40px;
}

.place+.place {
    margin-top: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 45px 28px;
    }

    .place+.place {
        margin-top: 73px;
    }
}



@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: minmax(min-content, max-content);
        grid-template-areas:
            "title"
            "website"
            "image"
            "text";
        gap: 32px;
    }

    .place+.place {
        margin-top: 50px;
    }
}